@tailwind base;
@tailwind components;
@tailwind utilities;
h1,h2,h3,p,ul,li,a{
    @apply font-mono
}
.bg {
    @apply bg-[url(https://img.freepik.com/free-photo/travel-concept-with-landmarks_23-2149153256.jpg?w=1480&t=st=1686638987~exp=1686639587~hmac=40cc5472a3c6cf597320383c6c7abe56258e67eaa6e28a1b209ed0b7892d2036)]
}
.inp{
    @apply   block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0
}
.landingbutton{
    @apply bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500
}
.gradientcolor{
    @apply bg-gradient-to-r   from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
}
.textgradient {
    @apply  md:font-bold lg:font-extrabold text-transparent lg:text-8xl md:text-6xl text-3xl bg-clip-text gradientcolor 
}
.spanclass{
    @apply text-transparent bg-clip-text gradientcolor
}